# Framework web
fastapi
uvicorn

# Configuración
pydantic-settings
python-dotenv

# Base de datos - Core
databases[asyncpg,aiomysql,aiosqlite]
sqlalchemy

# Drivers de base de datos (async)
asyncpg
aiomysql
aioodbc

# Seguridad
passlib[bcrypt]
bcrypt>=4.0.0

sqlalchemy[asyncio]>=2.0.0
aioodbc>=0.5.0
greenlet>=3.0.0

aiomysql>=0.2.0
