# Framework web
fastapi
uvicorn

# Configuración
pydantic-settings
python-dotenv

# Base de datos - Core
databases[asyncpg,aiomysql,aiosqlite]
sqlalchemy

# Drivers de base de datos (async)
asyncpg
aiomysql
aioodbc

# Seguridad
passlib[bcrypt]
bcrypt>=4.0.0